<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Home</title>

    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>

<body>
<nav th:replace="fragments/fragment :: navbar"></nav>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <span class="anchor" id="formUserEdit"></span>
            <br>
            <!-- form user info -->
            <div class="card card-outline-secondary">
                <div class="card-header">
                    <h3 class="mb-0">Update Buku</h3>
                </div>
                <div class="card-body">
                    <form class="form" role="form" autocomplete="off" th:action="@{/buku/update}" th:object="${buku}" method="POST">
                        <input type="hidden" th:field="*{id}" />
                        <div class="form-group row">
                            <label class="col-lg-3 col-form-label form-control-label" for="kode">Kode</label>
                            <div class="col-lg-9">
                                <input type="text" readonly class="form-control-plaintext"
                                       th:field="*{kode}" id="kode" name="kode">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-lg-3 col-form-label form-control-label" for="judul">Judul</label>
                            <div class="col-lg-9">
                                <input type="text" class="form-control" required="required"
                                       th:field="*{judul}" id="judul" name="judul">
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-lg-3 col-form-label form-control-label" for="jenis">Jenis</label>

                            <select id="jenis" name="jenis" th:field="*{jenis}">

                                <!--<option th:each="j : ${T(com.fasilkom.apap.uts1806269631.entities.Buku.Jenis).values()}"
                                        th:value="${j}" th:text="${j}">-->
                                <option value="KARYA_TULIS">karya tulis</option>
                                <option value="MAJALAH_KORAN">majalah/koran</option>
                                <option value="CERITA_NOVEL">cerita/novel</option>
                                <option value="BUKU_AJAR">buku ajar</option>
                                <option value="LAINNYA">lainnya</option>
                            </select>

                        </div>

                        <div class="form-group row">
                            <label class="col-lg-3 col-form-label form-control-label" for="tanggalTerbit">Tanggal Terbit</label>
                            <div class="col-lg-9">
                                <input type="date" class="form-control"
                                       th:field="*{tanggalTerbit}" id="tanggalTerbit" name="tanggalTerbit">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-lg-3 col-form-label form-control-label" for="pengarang">Pengarang</label>
                            <div class="col-lg-9">
                                <input type="text" class="form-control"
                                       th:field="*{pengarang}" id="pengarang" name="pengarang">
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-lg-3 col-form-label form-control-label" for="penerbit">Penerbit</label>
                            <div class="col-lg-9">
                                <input type="text" class="form-control"
                                       th:field="*{penerbit}" id="penerbit" name="penerbit">
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-lg-3 col-form-label form-control-label" for="abstrak">Abstrak</label>
                            <div class="col-lg-9">
                                <input type="textarea" class="form-control"
                                       th:field="*{abstrak}" id="abstrak" name="abstrak">
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-lg-3 col-form-label form-control-label" for="status">Status</label>
                            <div class="col-lg-9">
                                <input type="number" class="form-control"
                                       th:field="*{status}" id="status" name="status">
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-lg-3 col-form-label form-control-label"></label>
                            <div class="col-lg-9">
                                <input type="reset" class="btn btn-secondary" value="Cancel">
                                <input type="submit" class="btn btn-primary" value="Submit">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <!-- /form user info -->

        </div>
        <!--/col-->
    </div>
    <br>
</div>
</body>

</html>