<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Home</title>

    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>

<body>
<nav th:replace="fragments/fragment :: navbar"></nav>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <span class="anchor" id="formUserEdit"></span>
            <br>
            <!-- form user info -->
            <div class="card card-outline-secondary">
                <div class="card-header">
                    <h3 class="mb-0">Daftar Buku</h3>

                    <small class="float-sm-right"><a class="box-title btn btn-primary" th:href="@{/pustakawan/form}">Tambah</a></small>
                </div>
                <div class="card-body">
                    <form th:action="@{/flight/delete}" method="POST">
                        <table class="table table-bordered">
                            <thead class="thead-light">
                            <tr>
                                <th style="text-align: center">No.</th>
                                <th style="text-align: center">Kode</th>
                                <th style="text-align: center">Judul</th>
                                <th style="text-align: center">Jenis</th>
                                <th style="text-align: center">Pengarang</th>
                                <th style="text-align: center">Status</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="b,iterationStatus : *{bukus}">
                                <td th:text="${iterationStatus.count}"></td>
                                <td>
                                    <a th:href="@{/buku/{kode}(kode=${b.kode})}" class="btn btn-xs">
                                        <span th:text="${b.kode}" th:value="${b.kode}"> 0123456789 </span>
                                    </a>
                                </td>
                                <td th:text="${b.judul}"></td>
                                <td th:text="${b.jenis}"></td>
                                <td th:text="${b.pengarang}"></td>
                                <td th:text="${b.status}"></td>
                            </tr>
                            </tbody>
                        </table>
                    </form>
                    <br>
                </div>
            </div>
            <!-- /form user info -->

        </div>
        <!--/col-->
    </div>
    <br>
</div>

</body>

</html>